################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LabelService/.vs/LabelService/v16
/LabelService/LabelService/LabelService/bin/Debug/netcoreapp3.1/
/LabelService/LabelService/Migrations
/LabelService/.vs/LabelService
